.input-append.datepicker
  %input{data: {format:"MM/dd/yyyy"}, type:"text", name:model_name+"["+field_name+"]", id: model_name+"_"+field_name, value: field_value.strftime('%m/%d/%Y')}
  %span.add-on
    %i{data: {date:{icon:"icon-calendar"}}}