.well
  .row-fluid.editable-form{controller: "dinners", action:"update", objectmodel: "dinner", oid:@dinner.id}
    .span12
      %a{href: "#"}
        .thumbnail-container
          - if !@dinner.picture.blank?
            %span.round-thumb-large.img-rounded.pull-left{id: 'dinner-img-upload', style:'background-image:url('+@dinner.picture.url+');'}
          - else
            %span.round-thumb-large.img-rounded.pull-left{id: 'dinner-img-upload'}
      .media-body
        .dinner-text
          .dinner-header.row-fluid
            .span12
              %h5.pull-left
                .editable.shortvalue{data:"title"}
                  =@dinner.title
              %small.pull-right
                .small-margin
                  = timediff_string(@dinner.dinner_start_date) + " - " + timediff_string(@dinner.dinner_end_date)
          .dinner-body.row-fluid
            .span12
              .editable.longvalue{data:"description"}
                = @dinner.description
  %hr
  .row-fluid
    .span4
      %h5 Participants
      .gallery.embedded
        = render partial: "hikers/gallery", locals: {hikers: @participants}
    .span8
      %h5 Comments 
      .muted
        None