%div{ id: 'main', role: 'main'}
  .container
    .row-fluid
      .span12
        .well
          .row-fluid
            .span3
              .well
                %ul.nav.nav-list{id: "#dinner_detail_tabs"}
                  %li.nav-header Navigation
                  %li.active
                    %a{href:"#overview", data: {toggle: "tab"}} 
                      Overview
                  %li
                    %a{href:"#gallery", data: {toggle: "tab"}} 
                      Gallery
              - if current_hiker == @dinner.hiker
                %input.switch{id:"view_mode_switch", type:"checkbox", checked:true, data: { on:{color:"info", text:"<span class='icon-globe'></span>"}, off:{color:"warning", text:"<span class='icon-pencil'></span>"}}}
            .span9
              .tab-content
                .tab-pane.fade.active.in{id: "overview"}
                  = render partial: "dinners/details/overview"
                .tab-pane.fade{id: "gallery"}
                  = render partial: "dinners/details/gallery"
