%div{ id: 'main', role: 'main'}
  .container
    .row-fluid
      .span12
        .well
          .row-fluid
            .span12
              .well
                %h4 
                  Details for
                  = @dinner.title 
          .row-fluid
            .span4
              .well
                %h4 Participants
            .span8
              .well
                %h4 Pictures 